
<h2>do you want to be part of<br>our mission</h2>
<form>
    <input type="text" placeholder="Become an Investor">
</form>
<footer class="bg-dark text-white mt-4">
    <div>
        
        <ul>
            <li>
                <h3>Headquaters</h3>
            </li>
            <li>
                <h3>Contact</h3>
            </li>
            <li>
                <h3>Navigation</h3>
            </li>
            <li>
                <h3>Brands</h3>
            </li>
            <li>
               <h3>Privacy</h3>
            </li>
        </ul>
    </div>
  </footer>

