
<div class="main-container">
    <div class="contents">
        <img src="../assets/garden.png" />
        <h2>A cooperative mindset</h2>
        <p>Elewa's businesses have one common objective, to<br>
        unlock true potential of individuals, teams, and<br> communities.
        All our talents are enrolled in a persinal<br> 
        growth track. In turn, they contribute their own growth<br>
        towards the growth of others, the group and their 
        <br>communities.</p>
    </div>
</div>